.nav-pill {
     position: absolute;
     display: table;
     margin: 0 auto;
     left: 0;
     right: 0;
     width: 60px;
     background-color: black;
     height: 4px;
     border-radius: 10px;
     opacity: 0;
     animation: fade-pill 2s ease-in-out;
}

.nav-container {
     display: flex;
     justify-content: center;
     position: fixed;
     padding: 16px;
     width: 100%;
     z-index: 100;
}

.nav-content {
     background-color: rgba(242, 242, 242, 0.9);
     border: 1px solid rgba(27, 26, 28, 0.08);
     padding: 10px 8px 10px 10px;
     border-radius: 20px;
     border-width: 1px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     /* width: 680px; */
     gap: 30px;
     box-shadow: rgba(25, 26, 25, 0.05) 0px 0px 8px 0px;
     animation: fade-nav 0.2s ease-in-out;
     backdrop-filter: blur(10px);
     background-color: rgba(242, 242, 242, 0.9);
     border-radius: 20px;
}
.nav-content h1 {
     font-weight: 800;
     font-family: "Poppins";
     font-size: 20px;
}
.nav-content > div {
     display: flex;
     gap: 20px;
}
.nav-content > div p {
     font-family: "Helvetica Neue";
     font-size: 14px;
     cursor: pointer;
}
.nav-content > button {
     background-color: black;
     color: white;
     border: none;
     padding: 10px 20px;
     border-radius: 12px;
     font-family: "Roboto";
     font-size: 14px;
     cursor: pointer;
}

@keyframes fade-pill {
     0% {
          opacity: 0;
     }
     50% {
          opacity: 1;
     }
     100% {
          opacity: 0;
     }
}
@keyframes fade-nav {
     0% {
          opacity: 0;
     }
     100% {
          opacity: 1;
     }
}
